body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

/* Contenedor principal */
#app {
  text-align: center;
  margin-top: 0px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;

}

/* Encabezado H1 */
#app h1 {
  position: relative;
  left: 0;
  margin-top: 0;
  font-style: italic;
  color: #422178;
}

/* Encabezado H2 */
#app h2 {
  position: relative;
  left: 0;
  margin-top: 2%;
  font-style: italic;
  color: #050505;
  max-width: 90%;
  word-wrap: break-word;
}
#app h2 .add-layer {
  font-size: 30px; 
  color: green; 
}

#app h2 .delete-layer {
  font-size: 30px; 
  color: red; 
}

/* Botones */
button.delete-button,
button.add-row-button {
  color: red;
  padding: 5px;
  font-size: 2vw;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

button.add-row-button {
  color: green;
  font-size: 2.5vw;
}

/* Estilos de la tabla */
table {
  position: relative;
  margin-top: 5%;
  left: 2%;
  margin-right: 400px;
  border-collapse: collapse;
  font-size: 1.5vw;
  width: 83%;
  margin-bottom: 5% auto;
  overflow-y: auto;
  background-color: #f7faf6f0;
}

table, th, td {
  border: 5px solid #6f9a76;
}

th, td {
  padding: 1px;
  text-align: center;
  color:#259
}



button {
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 00px;

}

#mostrar-colores-button {
  position:absolute;
  right: 8%; 
  padding: 10px;
  margin-top: 100px;
  border: 6px solid #000a04;
  background-color: #dbdedb;
  font-size: 30px;
  width: 180px; 
  text-align: center; 
}

#color-div {
  position:absolute;
  right: 8%; 
  margin-top: 380px;
  padding: 40px;
  background-color: #ffffff;
}

#resultado-json {
  position:absolute;
  right: 5%; 
  margin-top: 590px;
  padding: 50px;
  font-size: 20px; 
}

.corner-image {
  position: absolute;
  top: 20px; 
  right: 40px; 
  width: 250px; 
  height: auto;
  border-radius: 50%;
}

td input[type="text"] {
  font-size: 15px;
  color:rgb(67, 50, 3);
  background-color: #ebd3af;

}

td select {
  font-size: 15px;
  color:rgb(67, 50, 3);
  background-color: #eccad9;

}



